.center {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#todo-panel {
  width: 400px;
}

.todo-label {
  font-size: 1.5em;
  font-weight: bold;
}

.textbox {
  width: 100%;
  padding: 10px;
  font-size: 1em;
}

.hidden {
  display: none;
}

.completed {
  text-decoration: line-through;
}

.item-count-label {
  margin-top: 20px;
}

.todo-item-container {
  display: flex;
  align-items: center;
  position: relative;
}

.todo-item-remove-button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  display: none; /* Initially hide the button */
}

.todo-item-container:hover .todo-item-remove-button {
  display: block; /* Show the button when the container is hovered */
}

.todo-item-remove-icon {
  background-image: url(/remove.png);
  background-size: cover;
  height: 16px;
  opacity: 0.5;
  width: 23px;
}
